:root {
    font-size: 16px;
    font-family: 'Open Sans';
}

.light {
    --navbar-norm: #aeaeaeee;
    --navbar-hover: #ffffffee;
    --navbar-bg: #121212;
    --text: #242424ee;
    --text-bg: #f3f0ddee;
    --scrollbar: #6e235f;
}

.dark {
    --navbar-norm: #b6b5b5ee;
    --navbar-hover: #9c9c9cee;
    --navbar-bg: #121212;
    --text: #cfcfcfee;
    --text-bg: #000000ee;
    --scrollbar: #6e235f;
}

body {
    background-color: var(--text-bg);
    margin: 0;
    padding: 0;
    color: var(--text);
}

/* Adjust scrollbar */
body::-webkit-scrollbar { width: 0.5rem; }
body::-webkit-scrollbar-track { background: var(--navbar-bg); }
body::-webkit-scrollbar-thumb { background: var(--scrollbar); }

main {
    /* 7rem * 16px = 112px left margin */
    margin-left: 7rem;
    margin-right: 5rem;
    padding: 1rem;
}

.navbar {
    position: fixed;
    background-color: var(--navbar-bg);
    color: var(--navbar-norm);
    transition: width 60ms ease;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center; 
    height: 100%;
}

.nav-item { 
    width: 100%;
}

/* Moves last navigation bar item to the bottom  */
.nav-item:last-child { margin-top: auto; }

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--navbar-norm);
    text-decoration: none;
    transition: var(--transition-speed);
}

.nav-link:hover {
    background: var(--navbar-bg);
    color: var(--navbar-hover);
}

.link-text {
    display: none;
}

.nav-link svg {
    min-width: 2rem;
    margin: 0 1.5rem;
}

.navbar:hover .link-text { 
    display: block;
    margin-left: -1rem; 
} 

.fa-primary { color: var(--navbar-norm); }
.fa-secondary { color: var(--navbar-hover); }

.fa-primary, .fa-secondary { transition: var(--transition-speed); }

/* Small screens */
@media only screen and (max-width: 600px) {
    
    .navbar {
        top: 0;
        width: 100vw;
        height: 5rem;
    }

    .navbar .link-text {
        display: block;
        margin-left: -1rem; 
    }

    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }

    main {
        margin: 0;
        margin-top: 5rem;
    }

}


/* Large screens */
@media only screen and (min-width: 600px) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh; 
    }

    .navbar:hover {
        width: 12rem;
    }

    .navbar:hover .link-text {
        display: inline;
        transition: var(--transition-speed);
        color: var(--navbar-norm);
    }

    .nav-item {
        outline: 1px dotted var(--navbar-norm);
        outline-offset: -6px;
    }

    .nav-link:hover{
        outline: 1px dotted var(--navbar-hover);
        outline-offset: -6px;
    }
}